<div id="<%= dom_id student_group %>">
  <p>
    <strong>Label:</strong>
    <%= student_group.label %>
  </p>

  <p>
    <strong>Numberofstudents:</strong>
    <%= student_group.numberOfStudents %>
  </p>

  <p>
    <strong>Classof:</strong>
    <%= student_group.classOf %>
  </p>

</div>
