<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Previous page", :back, class:"btn btn-secondary" %> |
  <%= link_to "Show this student", @student , class:"btn btn-secondary"%>
  <% if current_user.user_type == 'admin' %>
  |
  <%= link_to "Students", students_path , class:"btn btn-secondary"%>
  <% end %>
</div>
