<h1>New student</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Previous page", :back, class:"btn btn-secondary" %> |
  <%= link_to "Students", students_path, class:"btn btn-secondary" %>
</div>
