<h1>Editing professor</h1>

<%= render "form", professor: @professor %>

<br>

<div>
  <%= link_to "Previous page", :back, class:"btn btn-secondary" %> |
  <%= link_to "Show this professor", @professor , class:"btn btn-secondary"%> |
  <%= link_to "Professors", professors_path , class:"btn btn-secondary"%>
</div>
