<h1>New course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Previous page", :back, class:"btn btn-secondary" %>
  <%= link_to "Courses", courses_path, class:"btn btn-secondary" %>
</div>
